In [14]:
#import all libraries needed 
import os
import pandas as pd

# from api_keys import gkey
import gmaps
import gmaps.datasets
import matplotlib.pyplot as plt
import numpy as np
import requests
import time
from scipy.stats import linregress
import scipy.stats as st
from sqlalchemy import create_engine

In [15]:
#Get Path to get to the Datasets
WorldBankpath = os.path.join('Data Sets', 'WorldBank.csv')

In [16]:
#read the files 
WorldBank = pd.read_csv(WorldBankpath)

In [17]:
WorldBankDrop = WorldBank[['Country Name', 'Country Code', 'Series Name','2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]']]

In [18]:
# Remove the rows with missing data
cleanBlank = WorldBankDrop.dropna(how="any")

In [19]:
cleanBlank2 = cleanBlank.drop(cleanBlank[(cleanBlank['Country Code'] == 'LCN')].index)

In [20]:
BankRename = cleanBlank2.rename(columns={'Country Name': 'country_name', 'Country Code' : 'country_code', 'Series Name': 'series_name','2011 [YR2011]': 'yr2011', '2012 [YR2012]': 'yr2012', '2013 [YR2013]': 'yr2013', '2014 [YR2014]' : 'yr2014', '2015 [YR2015]' : 'yr2015', '2016 [YR2016]' : 'yr2016', '2017 [YR2017]' : 'yr2017', '2018 [YR2018]' : 'yr2018'  })

In [21]:
BankRename2 = BankRename[['country_name', 'series_name', 'yr2011', 'yr2012', 'yr2013',
       'yr2014', 'yr2015', 'yr2016', 'yr2017', 'yr2018']]

In [22]:
BankRename2

,country_name,series_name,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018
55,Costa Rica,"Population, total",4633086,4688000,4742107,4795396,4847804,4899345,4949954,4999441
56,Costa Rica,Population growth (annual %),1.20968236400613,1.17828835259712,1.14754994327846,1.11747392449788,1.08695279543583,1.05757038052655,1.02767608960277,0.99478225758881
57,Costa Rica,Surface area (sq. km),51100,51100,51100,51100,51100,51100,51100,51100
58,Costa Rica,Population density (people per sq. km of land ...,90.7380728554642,91.8135526831179,92.8732275754015,93.9168820994908,94.9432824128476,95.9527027027027,96.9438699569134,97.9130630630631
59,Costa Rica,Poverty headcount ratio at national poverty li...,21.7,20.6,20.7,22.4,21.7,20.5,20,21.1
...,...,...,...,...,...,...,...,...,...,...
270,Nicaragua,"Total debt service (% of exports of goods, ser...",16.5034812629961,13.1993935702772,12.619058858323,13.0433478797368,15.4249727683352,15.9334779279193,19.8201596232055,19.0280490011247
271,Nicaragua,Net migration,..,-135020,..,..,..,..,-106360,..
272,Nicaragua,"Personal remittances, received (current US$)",913600000,1016300000,1081300000,1140200000,1197500000,1268100000,1394700000,1504800000
273,Nicaragua,"Foreign direct investment, net inflows (BoP, c...",936300000,767700000,815500000,884100000,949900000,898700000,771900000,359200000
274,Nicaragua,Net official development assistance and offici...,536580017.089844,532320007.324219,495799987.792969,432170013.427734,457920013.427734,430980010.986328,562590026.855469,351950012.207031

In [23]:
rds_connection_string = "admin1:12345@localhost:5432/ETL_Gary_and_Maria"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [24]:
engine.table_names()

['kiva_data', 'worldbank_data']

In [26]:
BankRename2.to_sql(name='WorldBank_data', con=engine, if_exists='append', index=False)

In [27]:
pd.read_sql_query('select * from WorldBank_data', con=engine).head()

Empty DataFrame
Columns: [country_name, series_name, yr2011, yr2012, yr2013, yr2014, yr2015, yr2016, yr2017, yr2018]
Index: []